<header class="header">
  <nav class="nav container">
    <a href="/" class="logo">
      {% include logo.html %}
      <h1>Tiff Ting</h1>
    </a>
    <ul class="nav-links">
      {% for item in site.navigation %}
        <li><a href="{{ item.url }}" {% if page.url == item.url or (item.url == '/#portfolio' and page.layout == 'home') or (item.url == '/blog' and page.layout == 'blog') or (item.url == '/blog' and page.layout == 'post') or (page.url contains item.url and item.url != '/' and item.url != '/#portfolio') %}class="active"{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
