<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="/" class="site-avatar">
        {% include logo.html %}
      </a>

      <div class="site-info">
        <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <nav>
        <a href="/">Portfolio</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>
    </header>
  </div>
</div>
