---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="pagination">
    <span class="page-link prev">
    {% if page.next.url %}
      <a href="{{page.next.url}}">&laquo; Previous</a>
    {% else %}
      <span>&laquo; Previous</span>
    {% endif %}
    </span>
    <span class="page-link next">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
    </span>
  </div>

  {% include disqus.html %}

</article>
